<div class="container color-dark">
  <div class="col">
    <p>Add Client Information</p>
  </div>
  <div class="col">
    <p>Client Information List</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Add Client Information</p>
    <form>
      <input type="text" class="txt" name="templateId" placeholder="Template Id">
      <input type="text" class="txt" name="projectId" placeholder="Project Id">
      <input type="text" class="txt" name="inputFolder" placeholder="Input Folder">
      <input type="text" class="txt" name="outputFolder" placeholder="Output Folder">
      <input type="submit" class="btn" value="Add Template Config">
    </form>
  </div>
  <div class="col">
    <div class="client-container">
      <p>Client Information</p>
      <button class="client-btn">Update</button>
      <button class="client-btn">Delete</button>
    </div>
  </div>
</div>
