<div class="container color-dark">
  <div class="col">
    <p>Search Logs</p>
  </div>
  <div class="col">
    <p>Logs List</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Search with the parameters below</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Template Id">
      <input type="submit" class="btn" value="Search">
    </form>
  </div>
  <div class="col">
    <p class="log-container">
      Logs..
    </p>
  </div>

</div>
