<div class="container color-dark">
  <div class="col">
    <p>Add Template Config</p>
  </div>
  <div class="col">
    <p>Template List</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Add Template Config</p>
    <form>
      <input type="text" class="txt" name="templateId" placeholder="Template Id">
      <input type="text" class="txt" name="projectId" placeholder="Project Id">
      <input type="text" class="txt" name="inputFolder" placeholder="Input Folder">
      <input type="text" class="txt" name="outputFolder" placeholder="Output Folder">
      <input type="submit" class="btn" value="Add Template Config">
    </form>
  </div>
  <div class="col">
    <div class="template-container">
      <p> Template Config </p>
      <button class="config-btn">Update</button>
      <button class="config-btn">Delete</button>
    </div>
  </div>
</div>
